<div class="bg-light">

  <div class="container p-3">

    <div id="app-nav">

      <div>
        <h1 class="">MON SUPER SITE</h1>
      </div>

      <span class="spacer"></span>

      <div>
        <ul>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">Accueil</a></li>
          <li><a routerLinkActive="active" routerLink="/posts">Articles</a></li>
          <li><a routerLinkActive="active" routerLink="/about">A propos</a></li>
        </ul>
      </div>

    </div>

  </div>

</div>
